@model NhomXingfa.Models.NewsViewModel
@using NhomXingfa.Areas.Quantri.Utilities
@{
    var culture = new System.Globalization.CultureInfo("vi-VN");
    Helpers h = new Helpers();
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
                <div class="row">
                    @foreach (var q in Model.blogs)
                    {
                        <div class="col-md-12 d-flex ftco-animate fadeInUp ftco-animated">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="/chi-tiet/@q.SEOUrlRewrite-@q.BlogID" class="block-20" style="background-image: url('@WebConstants.imgNewsURLShow/@q.ImageURL');">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">@Convert.ToDateTime(q.Created).ToString(WebConstants.DateFormatVI)</a></div>
                                        <div><a href="#">@q.User.UserName</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> @q.CountView</a></div>
                                    </div>
                                    <h3 class="heading"><a href="/chi-tiet/@q.SEOUrlRewrite-@q.BlogID">@q.BlogName</a></h3>
                                    <p>@q.Descript.</p>
                                    <p><a href="/chi-tiet/@q.SEOUrlRewrite-@q.BlogID" class="btn btn-primary py-2 px-3">Xem thêm</a></p>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate fadeInUp ftco-animated">

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3 class="heading">Xem thêm</h3>
                    <ul class="categories">

                        @foreach (var q in Model.categories)
                        {
                            <li>
                                <a href="/tin-tuc/@q.SEOUrlRewrite-@q.CategoryID">
                                    @q.CategoryName <span>(@h.CountTotalNews(q.CategoryID))</span>

                                </a>
                            </li>
                        }
                    </ul>

                </div>

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3 class="heading">Danh mục sản phẩm</h3>
                    <ul class="categories">

                        @foreach (var q in Model.lstProductCate)
                        {
                            <li>
                                <a href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">
                                    @q.CategoryName <span>(@h.CountTotalSP(q.CategoryID))</span>

                                </a>
                            </li>
                        }
                    </ul>

                </div>

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3 class="heading">Sản phẩm Mới</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tags</h3>
                    <div class="tagcloud">
                        <a href="https://noithatchungcubinhduong.com" target="_blank" class="tag-cloud-link">Nội thất chung cư</a>
                        <a href="https://noithattanthoi.com" target="_blank" class="tag-cloud-link">Nội thất giá rẻ</a>
                        <a href="https://noithattanthoi.com/san-pham/noi-that-phong-khach-1" target="_blank" class="tag-cloud-link">nội thất phòng khách</a>
                        <a href="https://kinhbinhduong.com" class="tag-cloud-link">Nhôm kính giá rẻ</a>
                        <a href="https://www.nhomxingfabd.com/" target="_blank" class="tag-cloud-link">Nhôm Xingfa Bình Dương</a>
                        <a href="https://www.noithattanthoi.com/" target="_blank" class="tag-cloud-link">Thiết kế Nội thất Bình Dương</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Nội thất Tân Thời</h3>
                    <video src="~/images/TanThoiVideo.mp4" controls="controls" style="height:250px; width:100%" audio="muted">Dòng thông báo</video>
                </div>
            </div>

        </div>
    </div>
</section>

@*<section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">


                        @foreach (var q in Model.blogs)
                        {
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="@WebConstants.imgNewsURLShow/@q.ImageURL" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>@q.Created.Value.Day</h3>
                                        <p>@q.Created.Value.ToString("MMMM", culture)</p>
                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="/chi-tiet/@q.SEOUrlRewrite-@q.BlogID">
                                        <h2>@q.BlogName</h2>
                                    </a>
                                    <p>@q.Descript</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="ti-user"></i> @q.User.UserName</a></li>

                                    </ul>
                                </div>
                            </article>
                        }





                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="ti-arrow-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="từ khóa">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="main_btn rounded-0 w-100" type="submit">Tìm Kiếm</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Danh Mục</h4>
                            <ul class="list cat-list">

                                @foreach (var q in Model.categories)
                                {
                                    <li>
                                        <a href="/tin-tuc/@q.SEOUrlRewrite-@q.CategoryID" class="d-flex">
                                            <p>@q.CategoryName</p>

                                        </a>
                                    </li>
                                }

                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                                <li>
                                    <a href="#">love</a>
                                </li>
                                <li>
                                    <a href="#">technology</a>
                                </li>
                                <li>
                                    <a href="#">travel</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">life style</a>
                                </li>
                                <li>
                                    <a href="#">design</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Đăng ký nhận tin</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="nhập mail" required>
                                </div>
                                <button class="main_btn rounded-0 w-100" type="submit">Theo dõi</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
