@using NhomXingfa.Areas.Quantri.Models.DataModels
@model NhomXingfa.Areas.Quantri.Models.CartViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";

}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết</li>

    </ol>

    <h1>Chi tiết</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="javascript:" class="btn btn-warning btn-sm btn-label" id="btnAddGroupProduct"><i class="fa fa-shopping-cart"></i>Cập nhật trạng thái giao hàng</a>
            <a href="/Quantri/Products/Edit/@Model.cart.CarCode" class="btn btn-success btn-sm btn-label"><i class="fa fa-edit"></i>Chỉnh sửa</a>
            <a href="/Quantri/Products/Index" class="btn btn-primary btn-sm btn-label"><i class="fa fa-backward"></i>Quay Lại</a>

        </div>
    </div>
</div>
<div class="container" style="padding:5px; background-color:#ffffff">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <h3 style="background: #85c744; padding: 5px 10px; color: #fff; border-radius: 1px; margin: 20px 0 20px; text-align:center">Đơn hàng - @Model.cart.CarCode</h3>
                <div class="pull-left">
                    <address>
                        Tên KH: <strong>@Model.cust.CustName</strong><br>
                        Địa Chỉ: <strong>
                            @Model.cust.CustAddress
                        </strong>
                        <br>
                        Phone: <strong> @Model.cust.CustPhone</strong><br>
                    </address>
                </div>
                <div class="pull-right">
                    <ul class="text-right list-unstyled">
                        <li>
                            <strong>Trạng thái:</strong>
                            @if (Model.cart.StatusOrder == 1)
                            {
                                <span class="badge badge-success">Mới</span>
                            }
                            @if (Model.cart.StatusOrder == 2)
                            {
                                <span class="badge badge-info">Đang xử lý giao hàng</span>
                            }
                            @if (Model.cart.StatusOrder == 3)
                            {
                                <span class="badge badge-primary">Hoàn thành/closed</span>
                            }
                        </li>
                        <li><strong>Thời gian Order:</strong> @Convert.ToDateTime(Model.cart.Created).ToShortDateString()</li>
                        <li><strong>Ngày Giao hàng:</strong>  @Convert.ToDateTime(Model.cart.TimeDelivery).ToShortDateString()</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Tên SP</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int stt = 1; } 
                            @foreach (var i in Model.lstDetail)
                            {
                                <tr>
                                    <td>@stt</td>
                                    <td>
                                        
                                            @i.Product.Category.CategoryName
                                        </td>
                                    <td><a href="/Quantri/Products/Details/@i.Product.ProductID" alt="@i.Product.Category.CategoryName" target="_blank">@i.Product.ProductName</a></td>
                                    <td>@i.Qty</td>
                                    <td>@String.Format("{0:0,0}", i.Price)</td>
                                    <td>@String.Format("{0:0,0}", i.Total) </td>
                                </tr>
}

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="border-radius: 0px;">
            @{ decimal shipFee = 0;
                if (Model.cart.ShipDelivery == null)
                {
                    shipFee = 0;
                }
                else
                {
                    shipFee = Model.cart.ShipDelivery.Value;
                }
                decimal tong = shipFee + @Model.cart.TotalConLai.Value; }
            <div class="col-md-3 col-md-offset-9">
                <p class="text-right">Tổng đơn hàng @String.Format("{0:0,0}", @Model.cart.Total) vnd</p>
                <p class="text-right">Discout: 0%</p>
                <p class="text-right">Phí GH: @String.Format("{0:0,0}", shipFee)</p>
                <hr>

                <h3 class="text-right">Tổng: @String.Format("{0:0,0}", tong) <span style="color:#000000; font-size:8pt">vnd</span> </h3>
            </div>
        </div>
        
    </div>
</div>

