@using NhomXingfa.Areas.Quantri.Models.DataModels
@model NhomXingfa.Areas.Quantri.Models.CartViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";

}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết</li>

    </ol>

    <h1>Chi tiết</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="javascript:" class="btn btn-warning btn-sm btn-label" id="btnAddGroupProduct" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-shopping-cart"></i>Cập nhật trạng thái giao hàng</a>
            <a href="/Quantri/Carts/Delete/@Model.cart.CarCode" class="btn btn-danger btn-sm btn-label"><i class="fa fa-trash-o"></i>Xóa</a>
            <a href="/Quantri/Carts/Index" class="btn btn-primary btn-sm btn-label"><i class="fa fa-backward"></i>Quay Lại</a>

        </div>
    </div>
</div>
<div class="container" style="padding:5px; background-color:#ffffff">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <h3 style="background: #85c744; padding: 5px 10px; color: #fff; border-radius: 1px; margin: 20px 0 20px; text-align:center">Đơn hàng - @Model.cart.CarCode</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <h3><strong>Thông tin KH</strong></h3><table class="table table-condensed">

                        <tbody>
                            <tr>
                                <td>Tên KH</td>
                                <td><a href="#">@Model.cust.CustName</a></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td><a href="#">@Model.cust.CustAddress</a></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>@Model.cust.CustPhone</td>
                            </tr>
                            <tr>
                                <td>Địa chỉ giao hàng</td>
                                <td><a href="#">@Model.cart.AddresDelivery</a></td>
                            </tr>
                            <tr>
                                <td>Thông tin người nhận</td>
                                <td>@Model.cust.CustName (@Model.cart.CustPhone)</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <h3><strong>Đơn hàng</strong></h3><table class="table table-condensed">

                        <tbody>
                            <tr>
                                <td>Trạng thái</td>
                                <td>
                                    @if (Model.cart.StatusOrder == 1)
                                    {
                                        <span class="badge badge-success">Mới</span>
                                    }
                                    @if (Model.cart.StatusOrder == 2)
                                    {
                                        <span class="badge badge-info">Đã xác nhận đơn hàng</span>
                                    }
                                    @if (Model.cart.StatusOrder == 3)
                                    {
                                        <span class="badge badge-primary">Đang giao hàng</span>
                                    }
                                    @if (Model.cart.StatusOrder == 4)
                                    {
                                        <span class="badge badge-primary">Hoàn thành</span>
                                    }
                                    @if (Model.cart.StatusOrder == -1)
                                    {
                                        <span class="badge badge-dark">Hủy đơn hàng</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Thời gian đặt hàng</td>
                                <td><a href="#">@Convert.ToDateTime(Model.cart.Created).ToShortDateString()</a></td>
                            </tr>
                            <tr>
                                <td>Ngày giao hàng</td>
                                <td>@Convert.ToDateTime(Model.cart.TimeDelivery).ToShortDateString()</td>
                            </tr>
                            <tr>
                                <td>
                                    Phí vận chuyển
                                    <a href="javascript:" data-toggle="modal" data-target="#AddShipFee"><i class="fa fa-pencil"></i></a>
                                </td>
                                <td><a href="#">
    
                                @String.Format("{0:0,0}", Model.cart.ShipDelivery)
                            </a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Tên SP</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int stt = 1; }
                            @foreach (var i in Model.lstDetail)
                            {
                                <tr>
                                    <td>@stt</td>
                                    <td>

                                        @i.Product.Category.CategoryName
                                    </td>
                                    <td><a href="/Quantri/Products/Details/@i.Product.ProductID" alt="@i.Product.Category.CategoryName" target="_blank">@i.Product.ProductName</a></td>
                                    <td>@i.Qty</td>
                                    <td>@String.Format("{0:0,0}", i.Price)</td>
                                    <td>@String.Format("{0:0,0}", i.Total) </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="border-radius: 0px;">
            @{ decimal shipFee = 0;
                if (Model.cart.ShipDelivery == null)
                {
                    shipFee = 0;
                }
                else
                {
                    shipFee = Model.cart.ShipDelivery.Value;
                }
                decimal tong = shipFee + @Model.cart.TotalConLai.Value; }
            <div class="col-md-3 col-md-offset-9">
                <p class="text-right">Tổng đơn hàng @String.Format("{0:0,0}", @Model.cart.Total) vnd</p>
                <p class="text-right">Discout: 0%</p>
                <p class="text-right">Phí Vận chuyển: @String.Format("{0:0,0}", shipFee)</p>
                <hr>

                <h3 class="text-right">Tổng: @String.Format("{0:0,0}", tong) <span style="color:#000000; font-size:8pt">vnd</span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="timeline-month"><span>Lịch sử</span></h4>
                <ul class="timeline">
                    @foreach (var h in Model.lstHistory)
                    {
                        <li class="timeline-orange">

                            <div class="timeline-body">
                                <div class="timeline-header">

                                    <span class="date">@h.User.UserName - @h.TimeHistory</span>
                                </div>
                                <div class="timeline-content">
                                    <p>@h.ContentHistory</p>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
</div>
@*Add status*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cập nhật đơn hàng: <span style="color:#ff6a00"> @Model.cart.CarCode</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddHistory", "CartHistories", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" id="CartID" name="CartID" value="@Model.cart.Id" />
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Status:</label>
                        <select id="drCartStatus" name="drCartStatus" class="form-control">
                            <option value="2">Đã xác nhận đơn hàng</option>
                            <option value="3">Tình trạng giao hàng</option>
                            <option value="4">Hoàn thành</option>
                            <option value="-1">Hủy đơn hàng</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="ContentHistory" name="ContentHistory"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>

@*Add Fee Ship Delivery*@
<div class="modal fade" id="AddShipFee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Cập nhật tiền Ship: <span style="color:#ff6a00"> @Model.cart.CarCode</span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddShipFee", "Carts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <input type="hidden" id="CartID" name="CartID" value="@Model.cart.Id" />
                   
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Phí Ship:</label>
                        <textarea class="form-control" id="ShipDelivery" name="ShipDelivery"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>