@model NhomXingfa.Models.DetailPageViewModel

@{
    ViewBag.Title = Model.product.ProductName;
}


<div class="row" id="detailsp">

    <div class="col-md-6">
        <ul class="detailslider">
            @foreach (var q in Model.images)
            {
                <li>
                    <img src="~/Photos/Products/@q.URLImage">
                    @*<span>@q.Title</span>*@
                </li>
            }
            @*<li><img src="~/images/900-x-603-2.jpg" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars"></li>
                <li><img src="~/images/1438480.jpg" alt="Montréal, QC, Canada" data-large-src="/images/1438480.jpg"></li>
                <li>
                    <img src="~/images/chicago.jpg">
                    <span>Shanghai, China</span>
                </li>
                <li>
                    <a href="http://www.nyc.gov" target="_blank">
                        <img src="~/images/kh2.63e24508.jpg">
                        <span>New York, NY, USA</span>
                    </a>
                </li>*@
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Gói Thải độc - Giảm cân</h5>
        <h2 class="fontstyle">@Model.product.ProductName</h2>
        <div class="ratingx">

        </div>
        <div class="spdscription">
            @*@if (Model.product.IsProduct == false)
            {
                <span>Giá gói: @String.Format("{0:#,0}", Model.product.PriceSale)<sup>đ</sup> </span><br />
                <span>Phí ship: @String.Format("{0:#,0}", Model.product.PhiShip)<sup>đ</sup>/ @Model.product.SoNgayShip ngày</span> <br />
                <span>Số chai: @Model.product.SoLuongChai chai (Sinh tố: size 500ml, Nước ép: size 350ml) </span><br />
            }*@
            @Html.Raw(Model.product.ShortDescription)
        </div>

        @*@if (Model.product.IsProduct == true)
        {*@

            <div class="thetichgia">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="1" id="pricesaleso1">
                        <span class="t1">350ml</span> <span>:</span> <span class="t2">@String.Format("{0:#,0}", Model.product.PriceSale)<sup>VNĐ</sup>
                        
                        </span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="2">
                        <span class="t1">550ml</span> <span>:</span> <span class="t2">@String.Format("{0:#,0}", Model.product.PriceSale1)<sup>VNĐ</sup></span>
                    </label>
                </div>
            </div>
        @*}*@

        <input type="hidden" id="hdCateSpDon" value="1" />

        <div class="form-inline" id="dtsldh">
            <a class="btn btn-default" id="btnTruSL">
                <i class="glyphicon glyphicon-minus"></i>
            </a>
            <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDHThem" readonly />
            <a class="btn btn-default" id="btnCongSL">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>



        <div id="buttondathangdt">
            <a href="javascript:" class="btn btn-lg btn-info" id="btnThemGioHang" productid="@Model.product.ProductID">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                thêm vào giỏ hàng
            </a>
        </div>
    </div>
</div>

<div class="row" id="sanphamcontent">
    <div class="col-md-9">
        <div class="contentsp">
            @Html.Raw(Model.product.Content)
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("_tintuc", Model.tintuc)
    </div>
</div>

<span style="display:none;" id="classrating">@Model.product.Rating</span>
<span style="display:none;" id="classviewcount">@Model.product.CountView</span>

@Html.Partial("~/Views/Home/_box.cshtml")


@Html.Partial("~/Views/Home/_sanphamdon.cshtml", Model.products)

@section scripts
{
    <script src="~/Scripts/pgwslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#pricesaleso1").attr("checked", true);

            $('.detailslider').pgwSlider(
                {
                    listPosition: 'left',
                    transitionEffect: 'sliding'
                }
            );
            GetRating();
        });
    </script>
}