@model NhomXingfa.Models.DetailPageViewModel

@{
    ViewBag.Title = Model.product.ProductName;
}


<div class="row" id="detailsp" style="font-family: 'Quicksand', sans-serif;">

    <div class="col-md-6">
        @if (Model.images.Count == 0)
        {
            <img src="~/Photos/Products/@Model.product.Images" style="width:440px; padding-left:140px">
        }
        else
        {
            <ul class="detailslider">
                @foreach (var q in Model.images)
                {
                    <li>
                        <img src="~/Photos/Products/@q.URLImage">
                        @*<span>@q.Title</span>*@
                    </li>
                }

            </ul>
        }

    </div>
    <div class="col-md-6">
        <h5>@Model.product.Category1.CategoryName</h5>
        <h2 class="fontstyle" style="margin-top: 1px; margin-bottom: 1px;">@Model.product.ProductName</h2>
        <div class="ratingx">

        </div>

        <div class="spdscription">
            @if (Model.product.IsProduct == false)
            {
                <span style="font-size:12pt; font-weight:bold">Số lương @Model.product.SoLuongChai chai / </span>
                <span style="font-size:12pt; font-weight:bold">@Model.product.SoNgayShip Ngày </span>
            }
            @*@if (Model.product.IsProduct == false)
                {
                    <span>Giá gói: @String.Format("{0:#,0}", Model.product.PriceSale)<sup>đ</sup> </span><br />
                    <span>Phí ship: @String.Format("{0:#,0}", Model.product.PhiShip)<sup>đ</sup>/ @Model.product.SoNgayShip ngày</span> <br />
                    <span>Số chai: @Model.product.SoLuongChai chai (Sinh tố: size 500ml, Nước ép: size 350ml) </span><br />
                }*@
            @Html.Raw(Model.product.ShortDescription)
        </div>

        @*@if (Model.product.IsProduct == true)
            {*@

        <div class="thetichgia">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" value="1" id="pricesaleso1">
                    <span class="t1">@Model.product.Capacity ml</span> <span>:</span> <span class="t2">
                        @String.Format("{0:#,0}", Model.product.PriceSale)đ

                    </span>
                    @if (Model.product.PricePhanTram != 0 || Model.product.PricePhanTram != null)
                    {
                        <span style="color: #084f1f"> - Giá Gốc </span><span class="shipdagiam" style="text-decoration:line-through; text-decoration-color:#000;">@String.Format("{0:#,0}", Model.product.Price)</span>
                    }

                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" value="2">
                    <span class="t1">@Model.product.Capacity1 ml</span> <span>:</span> <span class="t2">@String.Format("{0:#,0}", Model.product.PriceSale1)đ</span>
                    @if (Model.product.PricePhanTram1 != 0 || Model.product.PricePhanTram1 != null)
                    {
                        <span style="color: #084f1f"> - Giá Gốc </span> <span class="shipdagiam" style="text-decoration:line-through;text-decoration-color:#000;">@String.Format("{0:#,0}", Model.product.Price1)</span>
                    }
                </label>
            </div>
        </div>
        @*}*@

        <input type="hidden" id="hdCateSpDon" value="1" />

        <div class="form-inline" id="dtsldh">
            <a class="btn btn-default" id="btnTruSL">
                <i class="glyphicon glyphicon-minus"></i>
            </a>
            <input class="form-control" type="text" value="1" placeholder="0" id="txtSoLuongDHThem" readonly />
            <a class="btn btn-default" id="btnCongSL">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>



        <div id="buttondathangdt">
            <a href="javascript:" class="btn btn-lg btn-info" id="btnThemGioHang" productid="@Model.product.ProductID">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                thêm vào giỏ hàng
            </a>
        </div>
    </div>
</div>

<div class="row" id="sanphamcontent">
    <div class="col-md-9">
        <div class="contentsp">
            @Html.Raw(Model.product.Content)
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("_tintuc", Model.tintuc)
    </div>
</div>

<span style="display:none;" id="classrating">@Model.product.Rating</span>
<span style="display:none;" id="classviewcount">@Model.product.CountView</span>

@Html.Partial("~/Views/Home/_box.cshtml")


<div class="text-center fontstyle" id="titlespcon">
    @if (Model.product.IsProduct == true)
    {
        <h2>
            Các sản phẩm lẻ được quan tâm
        </h2>
    }
    else
    {
        <h2>
            Các Liệu Trình Khác Được Ưa Thích
        </h2>
    }
</div>
@if (Model.product.IsProduct == true)
{
    <div class="row" id="goispdon">

        @foreach (var q in Model.products)
        {
            <div class="col-md-3">
                <div class="divtongd">

                    <a href="/product/detail/@q.ProductID">
                        <div class="imggoidon">
                            <img src="~/Photos/Products/@q.Images" />
                            <img src="~/Photos/Products/@q.Images1" class="imghover" />
                        </div>

                        <div class="namegoidon">
                            <div class="namegoidon1">
                                @q.Category1.CategoryName
                            </div>
                            <div class="namegoidon2">
                                @q.ProductName
                            </div>
                        </div>
                    </a>

                    <div class="goidonbutton">
                        <input type="button" class="btn btn-lg btn-info btnAddCartDon" productid="@q.ProductID" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="goidonthetich">
                        <div class="thetich1">
                            @String.Format("{0:#,0}", q.PriceSale)<sup>VNĐ</sup> - 350ml
                        </div>
                        <div class="thetich2">
                            @String.Format("{0:#,0}", q.PriceSale1)<sup>VNĐ</sup> - 500ml
                        </div>
                        <div class="goidonxemthem">
                            <a href="/product/detail/@q.ProductID">
                                <span>Xem Thêm ></span>
                            </a>
                        </div>
                    </div>
                    @if (q.IsSale == true)
                    {
                        <span class="iconbanchay fontstyle">
                            <img src="~/images/banchay.png" /> <br />
                            Bán chạy nhất
                        </span>
                    }
                </div>
            </div>
        }

    </div>
}
else if (Model.product.IsProduct == false)
{
    Html.Partial("_goidinhky", Model.products);
}

@section scripts
{
    <script src="~/Scripts/pgwslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#pricesaleso1").attr("checked", true);

            $('.detailslider').pgwSlider(
                {
                    listPosition: 'left',
                    transitionEffect: 'sliding'
                }
            );
            GetRating();
        });
    </script>
}