@model NhomXingfa.Models.GoiDinhKyViewModel
@using NhomXingfa.Areas.Quantri.Utilities
@{
    ViewBag.Title = "Goi Định Kỳ";
    int count = 1;
}

<div class="text-center fontstyle" id="titlegoidinhky">
    Hãy bắt đầu thói quen
    <br />
    Ăn Uống Lành Mạnh
</div>


<div id="listgoipagedinhky">
    @foreach (var q in Model.products)
    {
        if (count % 2 == 1)
        {
            <div class="row goidinhky">
                <span class="sttdinhky fontstyle">@count</span>
                <span class="borderdinhky"></span>
                <div class="col-md-6">
                    <img src="~/Photos/Products/@q.Images" />
                </div>
                <div class="col-md-6">
                    <h2 class="fontstyle">
                        @q.ProductName
                    </h2>
                    <div class="giashipdk">
                        <span class="dkgia">Giá: @String.Format("{0:#,0}", q.PriceSale)<sup>đ</sup></span>
                        <span class="dkship">Freeship - <span>@String.Format("{0:#,0}", q.PhiShip)<sup>VNĐ</sup></span></span>
                    </div>
                    <div class="descriptdk">
                        @Html.Raw(q.ShortDescription.Replace("<p>", "").Replace("</p>", ""))
                    </div>
                    <p>
                        <b>
                            Sinh tố dung tích 500ml và nước ép dung tích 350ml!
                        </b>
                    </p>
                    <p>
                        <a href="/product/detail/@q.ProductID">
                            Xem chi tiết
                        </a>
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="row goidinhky">
                <span class="sttdinhky fontstyle">@count</span>
                <span class="borderdinhky"></span>
                <div class="col-md-6">
                    <h2 class="fontstyle">
                        @q.ProductName
                    </h2>
                    <div class="giashipdk">
                        <span class="dkgia">Giá: @String.Format("{0:#,0}", q.PriceSale)<sup>đ</sup></span>
                        <span class="dkship">Freeship - <span>@String.Format("{0:#,0}", q.PhiShip)<sup>VNĐ</sup></span></span>
                    </div>
                    <div class="descriptdk">
                        @q.ShortDescription
                    </div>
                    <p>
                        <b>
                            Sinh tố dung tích 500ml và nước ép dung tích 350ml!
                        </b>
                    </p>
                    <p>
                        <a href="/product/detail/@q.ProductID">
                            Xem chi tiết
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/images/1.27f2e41e.jpg" />
                </div>
            </div>
        }
        count++;
    }







</div>


<div class="text-center fontstyle" id="dklieutrinh">
    Đăng Ký Liệu Trình
</div>

<div class="row" id="listlieutrinh">
    <div class="col-md-4">
        <ul>
            <li>
                <span class="iconlt">
                    <i class="glyphicon glyphicon-inbox"></i>
                </span>
                <span class="ndlt">
                    Giao hàng hàng ngày <br />
                    Linh hoạt theo giờ đặt
                </span>
                <div class="clear"></div>
            </li>

            <li>
                <span class="iconlt">
                    <i class="glyphicon glyphicon-tint"></i>
                </span>
                <span class="ndlt">
                    Nguồn nguyên liệu <br />
                    đảm bảo chuẩn Vietgap
                </span>
                <div class="clear"></div>
            </li>

            <li>
                <span class="iconlt">
                    <i class="glyphicon glyphicon-heart"></i>
                </span>
                <span class="ndlt">
                    Không thêm đường, nước <br />
                    chất phụ gia, chất bảo quản
                </span>
                <div class="clear"></div>
            </li>

            <li>
                <span class="iconlt">
                    <i class="glyphicon glyphicon-tag"></i>
                </span>
                <span class="ndlt">
                    Đổi chai 10 chai thủy tinh <br />
                    lấy sinh tố 500ml
                </span>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <ul>
            <li>
                GÓI ĐỊNH KỲ không chỉ mang lại trải nghiệm khác biệt và thay đổi hoàn toàn khái niệm của bạn về sinh tố rau sạch mà còn là cách đơn giản giúp bạn cải thiện sức khỏe hiệu quả và một cuộc sống vui vẻ - lạc quan hơn.
            </li>
            <li>
                Liệu trình hiệu quả giúp thiết lập cho cơ thể một thói quen tốt lành đều đặn mỗi ngày. 100% rau củ chất lượng đạt chuẩn Vietgap
            </li>
            <li>
                Công thức nghiên cứu cẩn thận đa dạng, phong phú.
            </li>
            <li>
                Đa dạng từ 4-7 loại nguyên liệu trong mỗi công thức tạo nên sự phong phú, độ chất - nhiều lớp vị tự nhiên, ngon miệng..
            </li>
            <li>
                Vị thanh ngọt tự nhiên. Nguyên chất. Không dùng đường. Không chất bảo quản, phụ gia.
            </li>
            <li>
                Ép chậm từ rau củ quả tươi sống, đựng trong chai thủy tinh, được bảo quản kĩ càng, cẩn thận.
            </li>
            <li>
                Ưu đãi phí ship theo từng gói đảm bảo tính linh động và tiện lợi cho khách hàng. Đăng ký liệu trình ngay để thay đổi cơ thể bạn và trải nghiệm sự khác biệt từ Green O.
            </li>
        </ul>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>


@*<div class="dotdiv divider">

    </div>*@


<div class="text-center fontstyle" id="khachhangchungtoi">
    Khách hàng của chúng tôi
</div>

<div class="row" id="camnhamkhachhang">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (var q in Model.lstCustomerFeed.Take(3))
            {
                <div class="col-md-4">
                    <div class="imagekh">
                        <img src="@WebConstants.imgCusFeedbackShow/@q.CustomerImage" style="height:270px" />
                    </div>
                    <div class="commentkh">
                       @Html.Raw(q.Feedback)
                    </div>
                    <div class="authorkh">
                       @q.CustomerName 
                        <br />
                        <span style="font-style:italic">@q.CustomerInfo</span>
                    </div>
                </div>
            }


            @*<div class="col-md-4">
                <div class="imagekh">
                    <img src="~/images/kh2.63e24508.jpg" />
                </div>
                <div class="commentkh">
                    Nhờ gói giảm cân nhanh của Green O mà mình đã giảm được hơn 2kg chỉ sau 10 ngày. Da dẻ lại mịn màng nữa chứ. Trong 6 món của Green O, mình thích nhất vị sinh tố rau Vẻ đẹp tỏa sáng, vừa dễ uống vừa đẹp da lại giảm được ký nữa.
                </div>
                <div class="authorkh">
                    - LÊ HOÀNG HÀ -
                </div>
            </div>

            <div class="col-md-4">
                <div class="imagekh">
                    <img src="~/images/kh3.c8cf21f7.jpg" />
                </div>
                <div class="commentkh">
                    Mình rất khó tính trong việc ăn uống sạch. Mình đã trải nghiệm nhiều nơi nhưng đều cảm thấy không hài lòng vì hương vị rất “công nghiệp”. Đến khi uống thử Green O thì mình rất thích vì hương vị tự nhiên, fresh và rất ngon miệng. Mình đã đặt 2 gói rồi đấy
                </div>
                <div class="authorkh">
                    - BÙI THẢO THIỆN -
                </div>
            </div>*@

        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div class="row">
            @Html.Partial("_QA", Model.lstQAs)
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
</div>



