@model NhomXingfa.Areas.Quantri.Models.DataModels.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="index.html">Trang chủ</a></li>
            <li><a href="index.html">Danh sách SP</a></li>
            <li class="active">Tạo Mới</li>
        </ol>

        <h1>Tạo mới Sản phẩm</h1>
        <div class="options">
            <div class="btn-toolbar">
                <input type="submit" value="Lưu mới" class="btn btn-success" />
                <a href="/Products/Index" class="btn btn-primary">Quay Lại</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel-body" style="background-color:#f5f5f5">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-container tab-success">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#home1" data-toggle="tab">Thông tin sản phẩm</a></li>
                                    <li class=""><a href="#profile1" data-toggle="tab">Bài Viết Sản phẩm</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane clearfix active" id="home1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @*<img src="~/assets/demo/avatar/johansson.png" alt="" class="pull-left" style="margin: 0 20px 20px 0">*@
                                                <div class="form-horizontal">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Rating, "Chọn kiểu SP", htmlAttributes: new { @class = "control-label col-md-3" })

                                                        <div class="col-md-6">
                                                            <select class="form-control" id="IsProduct" name="IsProduct">
                                                                <option selected value="True">Sản phẩm LẺ</option>
                                                                <option value="False">Sản phẩm GÓI</option>

                                                            </select>
                                                            @Html.ValidationMessageFor(model => model.IsProduct, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                    <div class="form-group" style="display:none">
                                                        @Html.LabelFor(model => model.CategoryIDParent, "Danh Mục Cha", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.DropDownList("CategoryIDParent", null, "--Chọn Danh Mục Cha--", htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.CategoryIDParent, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @*id="divCategoryID"*@

                                                        @Html.LabelFor(model => model.CategoryID, "Chủng loại SP", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">

                                                            @Html.DropDownList("CategoryID", null, "--Chọn Danh SP--", htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ProductCode, "SKU", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ProductName, "Tên SP", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>




                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Images, "Hình đại diện", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <input type="file" id="HinhAnh" name="HinhAnh" />
                                                            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Images, "Hình hiệu ứng", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <input type="file" id="HinhAnh1" name="HinhAnh1" />
                                                            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="divIsSale">
                                                        @Html.LabelFor(model => model.IsSale, "Sản phẩm Sale", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <select class="form-control" id="IsSale" name="IsSale">

                                                                    <option selected value="true">Có</option>
                                                                    <option value="false">Không</option>
                                                                </select>
                                                                @Html.ValidationMessageFor(model => model.IsSale, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        @Html.LabelFor(model => model.IsNew, "Sản phẩm mới", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <select class="form-control" id="IsNew" name="IsNew">

                                                                    <option selected value="true">Có</option>
                                                                    <option value="false">Không</option>
                                                                </select>
                                                                @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.InStock, "Còn hàng", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <select class="form-control" id="InStock" name="InStock">

                                                                    <option selected value="true">Còn hàng</option>
                                                                    <option value="false">Tạm hết hàng</option>
                                                                </select>
                                                                @Html.ValidationMessageFor(model => model.InStock, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        @Html.LabelFor(model => model.IsActive, "Hiện thị Website", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-3">
                                                            <div class="checkbox">
                                                                <select class="form-control" id="IsActive" name="IsActive">
                                                                    <option selected value="true">Hiện thị</option>
                                                                    <option value="false">Ẩn</option>
                                                                </select>
                                                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Rating, "Đánh giá *", htmlAttributes: new { @class = "control-label col-md-3" })

                                                        <div class="col-md-3">
                                                            <select class="form-control" id="Rating" name="Rating">
                                                                <option value="5">5</option>
                                                                <option value="4">4</option>
                                                                <option selected value="3">3</option>
                                                                <option value="2">2</option>
                                                                <option value="1">1</option>
                                                            </select>
                                                            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                                                        </div>
                                                        @Html.LabelFor(model => model.CountView, "Lượt xem", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-3">
                                                            <input type="number" id="CountView" name="CountView" value="100" class="form-control" />
                                                            @Html.ValidationMessageFor(model => model.CountView, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            @*Right*@
                                            <div class="col-md-6">
                                                <div class="form-horizontal">
                                                    <h4 style="border-bottom:1px solid #808080">Giá Sản phẩm</h4>
                                                    @*id="rowSPLe"*@
                                                    <div class="row">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Capacity, "Dung tích", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-2">
                                                                @*@Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", type = "number" } })*@
                                                                <input type="number" id="Capacity" name="Capacity" value="350" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.Price, "(ml)", htmlAttributes: new { @class = "control-label col-md-1" })
                                                            @Html.LabelFor(model => model.Price, "Giá", htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-3">
                                                                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", type = "number"} })*@
                                                                <input type="number" id="Price" name="Price" placeholder="0" value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.PricePhanTram, "Giảm giá", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-2">
                                                                <input type="number" id="PricePhanTram" name="PricePhanTram" value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.PricePhanTram, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.PricePhanTram, "%", htmlAttributes: new { @class = "control-label col-md-1" })
                                                            @Html.LabelFor(model => model.PriceSale, "Còn lại", htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-3">
                                                                <input type="number" id="PriceSale" name="PriceSale" readonly value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <h4 style="border-bottom:1px solid #808080"></h4>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Capacity1, "Dung tích", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-2">
                                                                <input type="number" id="Capacity1" name="Capacity1" value="500" class="form-control" />
                                                                @*@Html.EditorFor(model => model.Capacity1, new { htmlAttributes = new { @class = "form-control", type = "number" } })*@
                                                                @Html.ValidationMessageFor(model => model.Capacity1, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.Capacity1, "(ml)", htmlAttributes: new { @class = "control-label col-md-1" })
                                                            @Html.LabelFor(model => model.Price1, "Giá", htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-3">
                                                                <input type="number" id="Price1" name="Price1" value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.Price1, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.PricePhanTram1, "Giảm giá", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-2">
                                                                <input type="number" id="PricePhanTram1" name="PricePhanTram1" value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.PricePhanTram1, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.PricePhanTram1, "%", htmlAttributes: new { @class = "control-label col-md-1" })
                                                            @Html.LabelFor(model => model.PriceSale1, "Còn lại", htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-3">
                                                                <input type="number" id="PriceSale1" name="PriceSale1" readonly value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.PriceSale1, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*id="rowSPGoi"*@
                                                    <div class="row" id="rowSPGoi">
                                                        @*<div class="form-group">
                                                            @Html.LabelFor(model => model.PhiShip, "Phí Ship", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-3">

                                                                <input type="number" id="PhiShip" name="PhiShip" value="350" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.PhiShip, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.Price, "Giá", htmlAttributes: new { @class = "control-label col-md-3" })
                                                                <div class="col-md-3">

                                                                    <input type="number" id="PriceSi" name="PriceSi" placeholder="0" value="0" class="form-control" />
                                                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                                </div>

                                                        </div>*@
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.SoLuongChai, "SL Chai", htmlAttributes: new { @class = "control-label col-md-3" })

                                                            <div class="col-md-2">
                                                                <input type="number" id="SoLuongChai" name="SoLuongChai" value="350" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.SoLuongChai, "", new { @class = "text-danger" })
                                                            </div>
                                                            @Html.LabelFor(model => model.SoLuongChai, "(Chai)", htmlAttributes: new { @class = "control-label col-md-1" })

                                                            @Html.LabelFor(model => model.SoNgayShip, "Số Ngày", htmlAttributes: new { @class = "control-label col-md-3" })
                                                            <div class="col-md-3">
                                                                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", type = "number"} })*@
                                                                <input type="number" id="SoNgayShip" name="SoNgayShip" placeholder="0" value="0" class="form-control" />
                                                                @Html.ValidationMessageFor(model => model.SoNgayShip, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <h4 style="border-bottom:1px solid #808080">SEO Google</h4>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.SEOTitle, "Page Title", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.SEOTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.SEOTitle, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.SEOKeywords, "SEO Keywords", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.SEOKeywords, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.SEOKeywords, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.SEOMetadescription, "Meta Description", htmlAttributes: new { @class = "control-label col-md-3" })
                                                        <div class="col-md-9">
                                                            <textarea class="form-control" id="SEOMetadescription" name="SEOMetadescription" rows="4"></textarea>
                                                            @Html.ValidationMessageFor(model => model.SEOMetadescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <b> Mô tả ngắn </b><br />
                                            <textarea id="ShortDescription" placeholder="Mô tả ngắn" name="ShortDescription"></textarea>

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="profile1">
                                        <textarea id="Content" name="Content"></textarea>
                                        @*@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


}
@section scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace("Content",
            {
                height: '500px'
            });
        CKEDITOR.replace("ShortDescription",
            {
                height: '300px'
            });
        CKFinder.setupCKEditor(null, '/ckfinder')

        $(document).ready(function () {

            //$("#rowSPLe").show();
            $("#rowSPGoi").hide();
            //$("#divCategoryID").show();
            //$("#divIsSale").show();

            $("#ProductName").focusout(function () {
                var ProductName = $("#ProductName").val();
                $("#SEOTitle").val(ProductName);
            });

            $("#PriceSi").focusout(function () {
                var PriceSi = $("#PriceSi").val();
                $("#Price").val(PriceSi);
                $("#PriceSale").val(PriceSi);
            });

            //Auto tính giảm giá

            $("#Price").focusout(function () {
                var Price = $("#Price").val();
                var PricePhanTram = $("#PricePhanTram").val();
                var PriceSale = 0;
                if (PricePhanTram > 0) {
                    PriceSale = Price - (Price * PricePhanTram / 100)
                }
                else {
                    PriceSale = Price;
                }
                $("#PriceSale").val(PriceSale);
            });

            $("#PricePhanTram").focusout(function () {
                var Price = $("#Price").val();
                var PricePhanTram = $("#PricePhanTram").val();
                var PriceSale = 0;
                if (PricePhanTram > 0) {
                    PriceSale = Price - (Price * PricePhanTram / 100)
                }
                else {
                    PriceSale = Price;
                }
                $("#PriceSale").val(PriceSale);
            });

            //
            $("#Price1").focusout(function () {
                var Price1 = $("#Price1").val();
                var PricePhanTram1 = $("#PricePhanTram1").val();
                var PriceSale1 = 0;
                if (PricePhanTram1 > 0) {
                    PriceSale1 = Price1 - (Price1 * PricePhanTram1 / 100)
                }
                else {
                    PriceSale1 = Price1;
                }
                $("#PriceSale1").val(PriceSale1);
            });

            $("#PricePhanTram1").focusout(function () {
                var Price1 = $("#Price1").val();
                var PricePhanTram1 = $("#PricePhanTram1").val();
                var PriceSale1 = 0;
                if (PricePhanTram1 > 0) {
                    PriceSale1 = Price1 - (Price1 * PricePhanTram1 / 100)
                }
                else {
                    PriceSale1 = Price1;
                }
                $("#PriceSale1").val(PriceSale1);
            });


            // Dropy Kieu SP Change
            $('#IsProduct').on('change', function () {
                if (this.value == "True") {

                    //$("#rowSPLe").show();
                    $("#rowSPGoi").hide();
                    //$("#divCategoryID").show();
                    //$("#divIsSale").show();
                }
                else if (this.value == "False") {
                    //$("#rowSPLe").hide();
                    $("#rowSPGoi").show();
                    //$("#divCategoryID").hide();
                    //$("#divIsSale").hide();
                }

                var IsLe = $('#IsProduct').val();
                var clearmoldid = $("#CategoryID");
                clearmoldid.empty();

                $.ajax(
                    {
                        url: "/Products/FillChungLoaiSP",
                        type: 'GET',
                        cache: false,
                        data: { IsLe: IsLe },

                        success: function (data) {
                            var optionhtml1 = '<option value="' +
                                "" + '">' + "-- All --" + '</option>';
                            $('#CategoryID').append(optionhtml1);

                            $.each(data, function (i) {

                                var optionhtml = '<option value="' +
                                    data[i].Value + '">' + data[i].Text + '</option>';
                                $('#CategoryID').append(optionhtml);
                            });
                        }
                    });
            });
        });
    </script>

}
