@model NhomXingfa.Areas.Quantri.Models.DataModels.Product
@using NhomXingfa.Areas.Quantri.Utilities
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.html">Trang chủ</a></li>
        <li class="active">Chi tiết @Model.ProductName</li>

    </ol>

    <h1>Chi tiết</h1>
    <div class="options">
        <div class="btn-toolbar">
            @*<a href="javascript:" class="btn btn-warning btn-sm btn-label" id="btnAddGroupProduct"><i class="fa fa-shopping-cart"></i>Nhóm sản phẩm</a>*@
            <a href="javascript:" class="btn btn-label btn-sm btn-info" id="btnUploadImage" productid="@Model.ProductID"><i class="fa fa-upload"></i>Upload ảnh</a>
            <a href="/Quantri/Products/Edit/@Model.ProductID" class="btn btn-success btn-sm btn-label"><i class="fa fa-edit"></i>Sửa</a>
            <a href="/Quantri/Products/Index" class="btn btn-primary btn-sm btn-label"><i class="fa fa-backward"></i>Quay Lại</a>
            <a href="/Quantri/Products/Delete/@Model.ProductID" class="btn btn-danger btn-sm btn-label"><i class="fa fa-trash-o"></i>Xóa</a>
        </div>
    </div>
</div>
<div class="container" style="padding:5px;">
    @{ Html.RenderPartial("_Alerts"); }
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-midnightblue">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <img src="@WebConstants.ImgProductShow/@Model.Images" alt="" class="pull-left" style="margin: 0 20px 20px 0; width:100px">
                                <img src="@WebConstants.ImgProductShow/@Model.Images1" alt="" class="pull-left" style="margin: 0 20px 20px 0; width:100px">
                            </div>
                            
                        </div>
                        <div class="col-md-5">
                            
                            <div class="table-responsive">
                                <h4>Tên SP: <strong>@Model.ProductName</strong></h4>
                                <h5>
                                    Loại: <strong>
                                        @if (Model.Category1.IsLe == true)
                                        {
                                            <a href="#">
                                                Sản phẩm lẻ
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#">
                                                Sản phẩm gói
                                            </a>
                                        }
                                    </strong>
                                </h5>
                                <table class="table table-condensed">

                                    <tbody>
                                        <tr>
                                            <td>SKU</td>
                                            <td>@Model.ProductCode</td>
                                        </tr>
                                        <tr>

                                            <td>DM SP</td>
                                            <td>
                                                @if (Model.CategoryIDParent == null || Model.CategoryID == null)
                                                {
                                                    <b>Sản phẩm Gói</b>
                                                }
                                                else
                                                {
                                                    <a href="#">
                                                        @Model.Category1.CategoryName
                                                    </a>
                                                }
                                            </td>
                                        </tr>


                                        <tr>
                                            <td colspan="2" style="background-color:#fcdada">
                                                <table>
                                                    <tr>
                                                        <td rowspan="3">Loại: <b> @Model.Capacity </b>(ml)</td>
                                                        <td style="padding-left:10px">
                                                            Giá:  <span class="badge badge-danger">
                                                                @string.Format("{0:#,##0}", Convert.ToDecimal(@Model.Price)) đ
                                                            </span>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left:10px">
                                                            KM: <span class="badge badge-warning">@Model.PricePhanTram %</span>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left:10px">
                                                            Còn lại: <span class="badge badge-warning">@string.Format("{0:#,##0}", Convert.ToDecimal(@Model.PriceSale)) đ</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="background-color:#d9d9d9">
                                                <table>
                                                    <tr>
                                                        <td rowspan="3">Loại: <b> @Model.Capacity1 </b>(ml)</td>
                                                        <td style="padding-left:10px">
                                                            Giá:  <span class="badge badge-danger">
                                                                @string.Format("{0:#,##0}", Convert.ToDecimal(@Model.Price1)) đ
                                                            </span>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left:10px">
                                                            KM: <span class="badge badge-warning">@Model.PricePhanTram1 %</span>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="padding-left:10px">
                                                            Còn lại: <span class="badge badge-warning">@string.Format("{0:#,##0}", Convert.ToDecimal(@Model.PriceSale1)) đ</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>SP bán chạy</td>
                                            <td>
                                                @if (Model.IsSale == true)
                                                {
                                                    <span class="badge badge-danger">Sản Phẩm bán chạy</span>
                                                }
                                                else
                                                {
                                                    <span class="badge">#</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Hiện thị trang chủ</td>
                                            <td>
                                                @if (Model.isHot == true)
                                                {
                                                    <span class="badge badge-danger">Đang hiện thị trang chủ</span>
                                                }
                                                else
                                                {
                                                    <span class="badge">Không</span>
                                                }
                                            </td>
                                        </tr>
                                        @if (Model.IsProduct == false)
                                        {
                                            @*<tr>

                <td>Giá Gói</td>
                <td>
                    @string.Format("{0:#,##0}", Convert.ToDecimal(@Model.PriceSale)) đ
                </td>

            </tr>*@
                                            <tr>

                                                <td>Số lượng Chai</td>
                                                <td>
                                                    @Model.SoLuongChai (Chai)
                                                </td>

                                            </tr>
                                            <tr>

                                                <td>Số Ngày</td>
                                                <td>
                                                    @Model.SoNgayShip
                                                </td>

                                            </tr>
                                        }
                                        <tr>
                                            <td>Đánh giá</td>
                                            <td>
                                                @Model.Rating *

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Lượt xem</td>
                                        <td>
                                            @Model.CountView

                                    </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4>Mô tả ngắn</h4>
                            <p>
                                @Html.Raw(Model.ShortDescription)
                            </p>

                            <table class="table table-condensed">

                                <tbody>
                                    <tr>
                                        <td>Lượt xem</td>
                                        <td>
                                            <span class="badge badge-info">@Model.CountView</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ẩn/Hiện Website</td>
                                        <td>
                                            @if (Model.IsActive == true)
                                            {
                                                <span class="badge badge-success">Đang hiện thị</span> <span class="badge badge-info">Vị trí @Model.ThuTu</span>
                                            }
                                            else
                                            {
                                                <span class="badge">Ẩn</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tình Trạng</td>
                                        <td>
                                            @if (Model.InStock == true)
                                            {
                                                <span class="badge badge-success">Còn hàng</span>
                                            }
                                            else
                                            {
                                                <span class="badge">Tạm hết hàng</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tạo lúc</td>
                                        <td>
                                            @Convert.ToDateTime(Model.Created).ToString(WebConstants.DatetimeFormatVI)  bởi: <a>@Model.User.UserName</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>SEO Google</h4></td>
                                    </tr>
                                    <tr>
                                        <td>Page Title</td>
                                        <td><a href="#">@Model.SEOTitle</a></td>
                                    </tr>
                                    <tr>
                                        <td>URL thân thiện</td>
                                        <td><a href="#">@Model.SEOUrlRewrite</a></td>
                                    </tr>
                                    <tr>
                                        <td>SEO Keywords</td>
                                        <td>@Model.SEOKeywords</td>
                                    </tr>
                                    <tr>
                                        <td>SEO Metadescription</td>
                                        <td>@Model.SEOMetadescription</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-container tab-success">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#home1" data-toggle="tab">Bài viết</a></li>
                                    <li class=""><a href="#uploadhinhanh" data-toggle="tab" id="tabHinhAnh">Hình ảnh</a></li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active clearfix" id="home1">
                                        @Html.Raw(Model.Content)
                                    </div>

                                    <div class="tab-pane" id="uploadhinhanh">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="UploadImageData" tabindex="-1" role="dialog" aria-labelledby="UploadImageData">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="UploadImageDatalbl">Upload Hình Ảnh</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_form")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng và Tải Trang</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditTitle" tabindex="-1" role="dialog" aria-labelledby="EditTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditTitle">Chỉnh Sửa Tiêu Đề</h4>
            </div>
            <form method="post" action="~/products/edittitle">
                <input type="hidden" id="hdImageID" name="hdImageID" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtTitleEdit">Tiêu đề</label>
                        <textarea class="form-control" id="txtTitleEdit" name="etitle" placeholder="tiêu đề"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="AddGroupProduct" tabindex="-1" role="dialog" aria-labelledby="AddGroupProduct">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddGroupProduct">Nhóm Sản Phẩm</h4>
            </div>
            <div class="modal-body" id="groupcheck">



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                @*<button type="button" class="btn btn-primary" id="btnSaveGroupProduct">Lưu</button>*@
            </div>
        </div>
    </div>
</div>



<input type="hidden" id="hdProductIDDetail" value="@Model.ProductID" />