@model NhomXingfa.Models.IndexPageViewModel
@using Microsoft.AspNet.Identity
@{
    var cart = new List<NhomXingfa.Models.CartViewModel>();
    if (Session["CartShop"] != null)
    {
        cart = (List<NhomXingfa.Models.CartViewModel>)Session["CartShop"];
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Juice</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    @*<link href="~/fonts/SVN-Friends Forever.otf" rel="stylesheet" />*@

</head>
<body>
    <div class="toptran container-fluid">

        <div class="col-md-5">
            &nbsp;
        </div>
        <div class="col-md-7">
            <h4>
                Hotline: 1900 63 67 91 - 0909 09 60 60 - 0909 44 80 60
            </h4>
            <a href="~/home/orderdetail">
                <i class="glyphicon glyphicon-list"></i>
                Quản lý Đơn Hàng
            </a>
            @if (!Request.IsAuthenticated)
            {
                <a href="~/account/logincust" id="linklogin">
                    Đăng nhập / Đăng ký
                </a>
            }
            else
            {
                <a href="javascript:" class="dropdown">Chào, @User.Identity.Name</a>
                <a href="~/account/LogOffCust">Thoát</a>
            }
            <a href="#">
                <sub>GB</sub>English
            </a>

        </div>

    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="/" style="padding-top:0px;">
                    <img src="~/images/p.png" title="logo" style="height:50px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                @*@Html.Partial("_LoginPartial")*@

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/san-pham">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="/goi-dinh-ki">Gói định kỳ</a>
                    </li>
                    @*<li>
                        <a href="#">Thông tin dinh dưỡng</a>
                    </li>*@
                    <li>
                        <a href="/tin-tuc">Blogs</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">
                            Về chúng tôi <i class="glyphicon glyphicon-triangle-bottom" id="menudown"></i>
                        </a>
                        <div class="dropdown-content">
                            <a href="/thong-tin-dinh-duong"><i class="glyphicon glyphicon-triangle-right"></i> Thông tin dinh dưỡng</a>
                            <a href="/cau-hoi-thuong-gap"><i class="glyphicon glyphicon-triangle-right"></i> Câu hỏi thường gặp</a>
                            <a href="/chinh-sach-ban-hang"><i class="glyphicon glyphicon-triangle-right"></i> Chính sách bán hàng</a>
                        </div>
                    </li>
                    <li>
                        <a href="/home/cart">
                            <i class="glyphicon glyphicon-shopping-cart" id="shopicon" style="position:relative;">
                                <span class="redshop">@cart.Count</span>
                            </i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content" style="height:800px;">
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("_footer", Model.footerInfo)
        </footer>
    </div>

    <div id="showminicart">
    </div>

    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Đăng Nhập</h4>
                </div>
                <div class="modal-body row">

                    <div class="col-sm-offset-1 col-md-10">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="txtUserName" class="col-sm-3 control-label">Tài khoản</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="txtUserName" placeholder="nhập tài khoản">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPassword" class="col-sm-3 control-label">Mật khẩu</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtPassword" placeholder="nhập mật khẩu">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Nhớ truy cập lần sau !
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-info" style="display:none;">Đăng Nhập</button>
                                    <button type="button" class="btn btn-info">Đăng Nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/moments")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="full-opacity">&nbsp;</div>
</body>
</html>
