@model NhomXingfa.Models.DetailNewsViewModel
@{
    var culture = new System.Globalization.CultureInfo("vi-VN");
}

@{
    ViewBag.Title = Model.blog.SEOTitle;
}

<div class="container" id="dtblog">
    <div class="col-md-8">
        <div class="xcate">
            @Model.blog.Category.CategoryName
        </div>
        <div class="xtitle">
            @Model.blog.BlogName
        </div>
        <div class="xtimer">
            @Model.blog.LastModify.Value.ToString("MMMM dd, yyyy", culture)
        </div>

        <div class="xcontent">

            <div class="inner-post-entry entry-content" id="penci-post-entry-inner">
                <p><em><span style="font-weight: 400;">
                    @Model.blog.Descript
                    </span></em></p>
                
                <p>
                    @Html.Raw(Model.blog.Content)
                </p>
               
                <div class="penci-single-link-pages">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4" id="tinlienquan">
        @Html.Partial("_lienquan", Model.recents)
        @Html.Partial("_docnhieu", Model.docnhieu)
    </div>
</div>