@using NhomXingfa.Models
@model DetailOrderViewModel
    @{ 
        var CartModel = Model.Cart;
        System.Globalization.DateTimeFormatInfo usDtfi = new System.Globalization.CultureInfo("vi-VN", false).DateTimeFormat;
    }
<div class="row" style="display:none;">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Thông tin đơn hàng #HD1845098</h3>
            </div>
            <div class="panel-body">
                <div id="titleplist">
                    Táo cho Sức Khỏe
                </div>
                <ul>
                    <li>
                        Tổng số chai: <span>@CartModel.Qty</span>
                    </li>
                    <li>
                        Tổng tiền: <span>@String.Format("{0:#,0}", CartModel.TotalConLai)đ</span> (Thanh toán: <span>Chuyển khoản</span>)
                    </li>
                    <li>
                        Thời gian bắt đầu giao: <span>@CartModel.TimeDelivery.Value.ToString("HH:mm - dd MMMM yyyy")</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Thông tin giao hàng</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        Tổng số chai: <span>@CartModel.Qty</span>
                    </li>
                    <li>
                        Số chai đã giao: <span>0</span>
                    </li>
                    <li>
                        Số chai chưa giao: <span>1</span>
                    </li>
                    <li>
                        Số lần giao còn lại: <span>...</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>
            <b>Thông tin đơn hàng</b>
        </h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Giờ đặt hàng
                    </th>
                    <th>
                        Trạng thái đơn hàng
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @CartModel.CarCode
                    </td>
                    <td>
                        @CartModel.TimeDelivery.Value.ToString("HH:mm - dddd, dd MMMM yyyy", usDtfi)
                    </td>
                    <td>
                        @if (CartModel.StatusOrder == 0)
                        {
                            <span class="label label-info">
                                Mới
                            </span>
                        }
                        @if (CartModel.StatusOrder == 1)
                        {
                            <span class="label label-info">
                                Mới
                            </span>
                        }
                        else if (CartModel.StatusOrder == 2)
                        {
                            <span class="label label-warning">
                                Xác nhận đơn hàng
                            </span>
                        }
                        @if (CartModel.StatusOrder == 3)
                        {
                            <span class="label label-info">
                                Đang Giao hàng
                            </span>
                        }
                        @if (CartModel.StatusOrder == 4)
                        {
                            <span class="label label-success">
                                Hoàn Thành
                            </span>
                        }
                        @if (CartModel.StatusOrder == -1)
                        {
                    <span class="label label-default">
                        Đã Hủy
                    </span>
                        }
                        
                    </td>
                </tr>
            </tbody>
        </table>

        <h5>
            <b>Thông tin thanh toán</b>
        </h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Giá đơn hàng
                    </th>
                    <th>
                        Khuyến mại
                    </th>
                    <th>
                        Phí vận chuyển
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @String.Format("{0:#,0}", CartModel.TotalConLai)<sup>VNĐ</sup>
                    <td>
                        @String.Format("{0:#,0}", CartModel.VourcerMoney)<sup>VNĐ</sup>
                    </td>
                    <td>
                        @String.Format("{0:#,0}", CartModel.ShipDelivery)<sup>VNĐ</sup>
                    </td>
                </tr>
            </tbody>
        </table>


        <h5>
            <b>Thông tin nhận hàng</b>
        </h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Tên người nhận
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Địa chỉ nhận
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @CartModel.CustomerOrder.CustName
                    </td>
                    <td>
                        @CartModel.CustomerOrder.CustPhone
                    </td>
                    <td>
                        @CartModel.AddresDelivery
                    </td>
                </tr>
            </tbody>
        </table>


        <h5>
            <b>Chi tiết sản phẩm </b>
        </h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Thành tiền
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var q in Model.cartDetails)
                {
                    <tr>
                        <td>
                            @q.Product.ProductName
                        </td>
                        <td>
                            @q.Qty
                        </td>
                        <td>
                            @String.Format("{0:#,0}", q.Price)<sup>VNĐ</sup>
                        </td>
                        <td>
                            @String.Format("{0:#,0}", q.Price * q.Qty)<sup>VNĐ</sup>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">10% Complete (success)</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Lịch giao sinh tố / nước ép</h3>
            </div>
            <div class="panel-body">
               <table class="table table-bordered">
                   <thead>
                       <tr>
                           <th>
                               Mã đơn hàng
                           </th>
                           <th>
                               Note
                           </th>
                           <th>
                               Date
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach(var q in Model.carthistory)
                       {
                           <tr>
                               <td>
                                   @q.Cart.CarCode
                               </td>
                               <td>
                                   @q.ContentHistory
                               </td>
                               <td>
                                   @q.TimeHistory.Value.ToString("HH:mm dd/MM/yyyy")
                               </td>
                           </tr>
                       }
                   </tbody>
               </table>
            </div>
        </div>
    </div>
</div>
