@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Product>

<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <div class="text-center fontstyle" id="titlespcon" style="line-height:35px;">
            <h2 style="line-height:45px;">
                Liệu trình cải thiện <br /><br />sức khỏe toàn phần
            </h2>
        </div>
        <h4 style="line-height:30px;font-size: 25px; font-family:'SVN-LarchShaded'; text-align:center; padding-bottom:22px;">
            <span style="font-weight:bold;">THE VITA HOUSE</span> kết nối cơ thể bạn với thiên nhiên, thay đổi thói quen ăn uống thông thường bằng Các Liệu Trình sử dụng SmoothiePlus,  giúp cải thiện và tăng cường tất cả các chức năng của cơ thể.
            
        </h4>
        <div class="text-center">
            <input type="button" class="btn btn-lg btn-info datapopup" value="Tư vấn liệu trình" id="btnTuVanDinhKy" />
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>


<div id="listgoidinhky">
    <div class="row">

        @foreach (var q in Model)
        {
            <div class="col-md-3">
                <div class="divtong">
                    <a href="/product/detail/@q.ProductID">
                        <div class="toppin">
                            <img src="~/Photos/Products/@q.Images" />
                            <span class="slchai">
                                <span class="numberchai">@q.SoLuongChai</span><br /> Chai
                            </span>
                        </div>
                        <h4 class="goiname1">
                            @q.ProductName
                        </h4>
                        <h4 class="goiname2">
                            @{
                                var sl = q.SoLuongChai / q.SoNgayShip;
                            }
                            @q.SoNgayShip Ngày - @sl Chai / Ngày

                        </h4>
                    </a>
                    <div class="buttondathanggoi">
                        <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" productid="@q.ProductID" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="actionhover">
                        <div class="giagoi">
                            <span style="color: #124f27">Giá:</span> @String.Format("{0:#,0}", q.PriceSale)<sup>đ</sup>
                        </div>
                        <div class="giaship">
                            Giá gốc: <span class="shipdagiam">@String.Format("{0:#,0}", q.Price)</span><sup>đ</sup>
                        </div>
                        <div class="xemthem">
                            <a href="/product/detail/@q.ProductID">
                                <span>Xem Thêm ></span>
                            </a>
                        </div>
                    </div>
                    @if (q.IsSale == true)
                    {
                        <span style="position: absolute; z-index: 999; right: 12px; top: 12px; color: #ac8514; font-weight: bold; font-size: 18px; width: 65px; transition: all;" class="iconbanchay fontstyle">
                            <img style="width:43px" src="~/images/banchay.png" /> <br />
                            Bán chạy nhất
                        </span>
                    }
                </div>
            </div>
        }



        @*<div class="col-md-3">
                <a href="javascript:">
                    <div class="toppin">
                        <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                        <span class="slchai">
                            <span class="numberchai">36</span><br /> Chai
                        </span>
                    </div>
                    <h4 class="goiname1">
                        Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                    </h4>
                    <h4 class="goiname2">
                        14 Ngày - 4 Chai  / 1 Ngày
                    </h4>
                    <div class="buttondathanggoi">
                        <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="actionhover">
                        <div class="giagoi">
                            Giá: 4,460,000<sup>đ</sup>
                        </div>
                        <div class="giaship">
                            Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                        </div>
                        <div class="xemthem">
                            <span>Xem Thêm ></span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="javascript:">
                    <div class="toppin">
                        <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                        <span class="slchai">
                            <span class="numberchai">36</span><br /> Chai
                        </span>
                    </div>
                    <h4 class="goiname1">
                        Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                    </h4>
                    <h4 class="goiname2">
                        14 Ngày - 4 Chai  / 1 Ngày
                    </h4>
                    <div class="buttondathanggoi">
                        <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="actionhover">
                        <div class="giagoi">
                            Giá: 4,460,000<sup>đ</sup>
                        </div>
                        <div class="giaship">
                            Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                        </div>
                        <div class="xemthem">
                            <span>Xem Thêm ></span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="javascript:">
                    <div class="toppin">
                        <img src="~/images/product_medium79f9a012dfb84359d3837ae251acaf9c_.png" />
                        <span class="slchai">
                            <span class="numberchai">36</span><br /> Chai
                        </span>
                    </div>
                    <h4 class="goiname1">
                        Gói 7 ngày Giảm cân an toàn - Thải độc triệt để
                    </h4>
                    <h4 class="goiname2">
                        14 Ngày - 4 Chai  / 1 Ngày
                    </h4>
                    <div class="buttondathanggoi">
                        <input type="button" class="btn btn-lg btn-primary btnAddCartGoi" value="thêm vào giỏ hàng" />
                    </div>
                    <div class="actionhover">
                        <div class="giagoi">
                            Giá: 4,460,000<sup>đ</sup>
                        </div>
                        <div class="giaship">
                            Ship: <span>0<sup>đ</sup></span><span class="shipdagiam">4,460,000</span><sup>đ</sup>
                        </div>
                        <div class="xemthem">
                            <span>Xem Thêm ></span>
                        </div>
                    </div>
                </a>
            </div>*@

    </div>
</div>
