@model List<NhomXingfa.Models.CartViewModel>
    @{ 
        int count = 0;
        decimal? total = 0;
    }

<div class="row minicart">
    <div class="col-md-8">
    </div>
    <div class="col-md-4" id="giohangmini">
        <div class="carttitle">
            <i class="glyphicon glyphicon-shopping-cart" id="caticon"></i>
            Giỏ hàng của bạn
            <span class="closed">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
        </div>

        <div class="listdathang">
            <ul>

                @foreach (var q in Model)
                {
                    count++;
                    total = total + (q.Price * q.Quantity);
                    <li>
                        <div class="row">
                            <div class="col-md-9 col-xs-9">
                                <h5 class="titlesp">
                                    <span>@count</span>. @q.Name
                                </h5>
                                <p>
                                    @Html.Raw(q.Descript.Replace("<p>", "").Replace("</p>", ""))
                                </p>
                                <div class="actioncart">
                                    <span class="removesp btnRemoveCart" productid="@q.ID">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    @if (q.IsProduct == true)
                                    {
                                <span class="btn-group btn-group-sm cateml" role="group" aria-label="...">
                                    <span class="piddata">@q.ID</span>
                                    @if (q.CateSPDon == 1)
                                    {
                                        <button type="button" class="btn btn-default changeml actived" changeml="1">350ml</button>
                                        <button type="button" class="btn btn-default changeml" changeml="2">550ml</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default changeml" changeml="1">350ml</button>
                                        <button type="button" class="btn btn-default changeml actived" changeml="2">550ml</button>
                                    }

                                </span>
                                    }
                                    <div class="form-inline text-right">
                                        <a class="btn btn-xs btn-default btnTruSL" productid="@q.ID" catesp="@q.CateSPDon">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </a>
                                        <input class="form-control-xs form-control txtSoLuongDH" type="text" value="@q.Quantity" placeholder="0" readonly />
                                        <a class="btn btn-xs btn-default btnCongSL" productid="@q.ID" catesp="@q.CateSPDon">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <img src="~/Photos/Products/@q.Image" />
                                <div class="cartprice">
                                    <span>@String.Format("{0:#,0}", q.Price)</span><sup>đ</sup>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="tongtiencartmini">
            <div class="row">
                <div class="col-md-6">
                    <p class="textsl">
                        Số Lượng
                    </p>
                    <p class="numbersl">
                        @count
                    </p>
                    
                </div>
                <div class="col-md-6">
                    <p class="texttong">
                        Tổng tiền tạm tính
                    </p>
                    <p class="numbertong">
                        <span id="totaltien">@String.Format("{0:#,0}", total)</span><sup>đ</sup>
                    </p>
                    <p class="notecart">
                        ** chưa bao gồm phí ship (nếu có)
                    </p>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="btngogiohang">
                        <a href="/home/cart" class="btn btn-lg btn-default">
                            <i class="glyphicon glyphicon-shopping-cart" id="caticon"></i>
                            Chi tiết giỏ hàng
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="btndathangmini text-right">
                        <a href="javascript:" class="btn btn-lg btn-default" id="btnDatHangMini">
                            Đặt Hàng
                            <i class="glyphicon glyphicon-menu-right" id="caticon"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>




