@model List<NhomXingfa.Models.CartViewModel>

@{
    ViewBag.Title = "Cart";
    int count = 0;
    decimal total = 0;
    decimal child = 0;
    string showcart = "showcart";
    string shownull = "shownull";
    if (Session["CartShop"] == null)
    {
        showcart = "showcart_hidden";
        shownull = "shownull_hidden";
    }
}

<div class="row" id="processcart">
    <span class="borderstyle"></span>
            <div class="col-md-4 actived">
                <span style="background-color:#fff; padding-right:5px; padding-left:5px;">
                    <span class="circlenumber activeds">
                        1
                    </span>
                    Xác Nhận Đơn Hàng
                </span>
            </div>
            <div class="col-md-4">
                <span style="background-color:#fff; padding-right:5px; padding-left:5px;">
                    <span class="circlenumber">
                        2
                    </span>
                    Chọn Giao Hàng
                </span>
            </div>
            <div class="col-md-4">
                <span style="background-color:#fff; padding-right:5px; padding-left:5px;">
                    <span class="circlenumber">
                        3
                    </span>
                    Thanh Toán
                </span>
            </div>
</div>

<div class="row @shownull" style="background-color:#fff; padding:100px; text-align:center; margin-top:28px; margin-bottom:28px;">
    <div class="col-md-12">
        <p>Giỏ hàng đang trống</p>
    </div>
</div>

<div class="row @showcart">
     <div class="col-md-8">
         <div id="lstfullgiohang">

             @foreach (var q in Model)
                     {
                         count++;
                 total = total + (q.Price.Value * q.Quantity.Value);
                 <div class="itemlst">
                     <div class="floatleft cartitemleft">
                         <div class="titleitem">
                             <span>@count</span>. @q.Name
                         </div>
                         <div class="dscitem">
                             @q.Descript
                         </div>
                     </div>
                     <div class="floatright cartitemright">
                         <img src="~/Photos/Products/@q.Image" />
                         <div class="itempricefc">
                             <span>@String.Format("{0:#,0}", q.Price)</span><sup>đ</sup>
                         </div>
                     </div>
                     <div class="buttonfunc">
                         <span class="removesp btnRemoveCart2" productid="@q.ID">
                             <i class="glyphicon glyphicon-remove"></i>
                         </span>

                         @if (q.IsProduct == true)
                         {
                             <span class="btn-group btn-group-sm cateml" role="group" aria-label="...">
                                 <span class="piddata">@q.ID</span>
                                 @if (q.CateSPDon == 1)
                                 {
                                     <button type="button" class="btn btn-default changeml actived" changeml="1">350ml</button>
                                     <button type="button" class="btn btn-default changeml" changeml="2">550ml</button>
                                 }
                                 else
                                 {
                                     <button type="button" class="btn btn-default changeml" changeml="1">350ml</button>
                                     <button type="button" class="btn btn-default changeml actived" changeml="2">550ml</button>
                                 }

                             </span>
                         }

                         <div class="form-inline">
                             <a class="btn btn-default btn-xs btnTruSL" productid="@q.ID" catesp="@q.CateSPDon">
                                 <i class="glyphicon glyphicon-minus"></i>
                             </a>
                             <input class="form-control-xs form-control txtSoLuongDH" type="text" value="@q.Quantity" placeholder="0" readonly />
                             <a class="btn btn-default btn-xs btnCongSL" productid="@q.ID" catesp="@q.CateSPDon">
                                 <i class="glyphicon glyphicon-plus"></i>
                             </a>
                         </div>
                     </div>
                     <div class="clear"></div>
                 </div>
             }



         </div>

         <div class="inputgiaohang">
             <div class="titleinput">
                 Chọn phương thức giao hàng:
             </div>

             <div class="ghgroup text-center">
                 <div class="btn-group" role="group" aria-label="...">
                     <button type="button" class="btn btn-default changegh activex" changegh="1">Giao Hàng Tận Nhà</button>
                     <button type="button" class="btn btn-default changegh" changegh="2">Lấy Tại Cửa Hàng</button>
                 </div>
             </div>

             <div class="row ptgiaohang" id="ptnhapdiachi">
                 <div class="col-md-1">
                     &nbsp;
                 </div>
                 <div class="col-md-10">

                     <div class="forminput form-horizontal">
                         <div class="form-group">
                             <label for="txtHoTen" class="col-sm-4 control-label"><span>*</span> Họ & Tên</label>
                             <div class="col-sm-8">
                                 <input type="text" class="form-control" id="txtHoTen" placeholder="tên người nhận">
                             </div>
                         </div>
                         <div class="form-group">
                             <label for="txtSDT" class="col-sm-4 control-label"><span>*</span> SĐT</label>
                             <div class="col-sm-8">
                                 <input type="text" class="form-control" id="txtSDT" placeholder="số điện thoại người nhận">
                             </div>
                         </div>

                         <div class="form-group">
                             <label for="txtNgayNhan" class="col-sm-4 control-label"><span>*</span> Ngày giao hàng</label>
                             <div class="col-sm-8" style="max-width:430px;">
                                 <span class="input-group date">
                                     <input id="txtNgayNhan" class="form-control datefrom3" autocomplete="off" placeholder="" type="text" />
                                     <span class="input-group-addon">
                                         <span class="glyphicon glyphicon-calendar" for="txtNgayNhan"></span>
                                     </span>
                                 </span>
                             </div>
                         </div>
                         <div class="form-group">
                             <label for="txtDiaChi" class="col-sm-4 control-label"><span>*</span> Địa chỉ giao hàng</label>
                             <div class="col-sm-8">
                                 <input type="text" class="form-control" id="txtDiaChi" placeholder="địa chỉ giao hàng">
                             </div>
                         </div>

                         <div class="form-group">
                             <label for="txtDiaChi" class="col-sm-4 control-label">Ghi chú</label>
                             <div class="col-sm-8">
                                 <textarea class="form-control" cols="3" placeholder="ghi chú"></textarea>
                             </div>
                         </div>

                         <div class="form-group">
                             <div class="col-sm-offset-4 col-sm-8">
                                 <button type="button" class="btn btn-default">Lưu</button>
                                 <button type="button" class="btn btn-default" id="btnHuy">Hủy</button>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-1">
                     &nbsp;
                 </div>
             </div>

             <div class="row ptgiaohang" id="taicuahang">
                 <div class="col-md-1">
                     &nbsp;
                 </div>
                 <div class="col-md-10">
                     <img src="~/images/store.6ad31dce.jpg" />
                 </div>
                 <div class="col-md-1">
                     &nbsp;
                 </div>
             </div>

         </div>

        

     </div>
    <div class="col-md-4">
        <div id="tongfullgiohang">
            <ul>
                @foreach (var q in Model)
                {
                    child = q.Quantity.Value * q.Price.Value;
                    <li class="cartp_@q.ID">
                        <div class="totalleft floatleft">
                            <span>
                                @q.Name
                            </span>
                            <span class="nhansl">
                                x<span>@q.Quantity</span>
                            </span>
                        </div>
                        <div class="totalright floatright">
                            <span><span class="tprice">@String.Format("{0:#,0}", child)</span><sup>đ</sup></span>
                        </div>
                        <div class="clear"></div>
                    </li>

                }
            </ul>

            <div class="totaltong">
                <div class="ttitemleft floatleft">
                    Số lượng <br />
                    <span class="numbersl">@count</span>
                </div>
                <div class="ttitemright floatright">
                    Tổng tiền tạm tính<br />
                    <span id="tt1"><span id="totaltien">@String.Format("{0:#,0}", total)</span><sup>đ</sup></span> <br />
                    <span id="tt2">** chưa bao gôm phí ship (nếu có)</span>
                </div>
                <div class="clear"></div>
            </div>

            <div id="chongiaohang">
                <a class="btn btn-lg btn-info" id="btnChonGiaoHang">
                    Chọn Giao Hàng <i class="glyphicon glyphicon-menu-right"></i>
                </a>

                <a class="btn btn-lg btn-info" id="btnXacMinhTK">
                    Xác Minh Tài Khoản <i class="glyphicon glyphicon-menu-right"></i>
                </a>
            </div>

            <div id="hotrocall">
                Bạn cần hỗ trợ? <br />
                Hotline: 090909 60 60 - 090944 80 60
            </div>

        </div>
    </div>
</div>