@model NhomXingfa.Models.IndexPageViewModel
@{
    ViewBag.Title = "Sinh tố Dinh Dưỡng";
}
@section metatags
{
    <meta name="keywords" content="sinh tố rau sạch, nước ép rau sạch, sinh tố giảm cân, nước ép giảm cân, thực đơn giảm cân, thực đơn giảm cân trong 7 ngày, thực đơn giảm cân trong 10 ngày, thực đơn giảm cân cho nam, thực đơn giảm cân cho sinh viên, thực đơn giảm cân 1 tuần 2kg, thực đơn giảm cân trong 7 ngày, thực đơn giảm cân trong 1 ngày, thực đơn giảm cân ngon miệng" />
    <meta name="description" content="The Vita House - SmoothiePlus sinh tố dinh dưỡng tươi mới mỗi ngày đạt chuẩn dinh dưỡng, sự lựa chọn tốt nhất cho sức khỏe" />
}
<div class="jumbotrons" style="position:relative; padding:2px;">
    @Html.Partial("_slider", Model.lstBannerHomePage)
    <div class="ytframe ytxt">
        <div id="yticon">
            <img src="~/images/youtube-icon (1).png">
        </div>
        <div id="frameyt">
            <span id="ytremove">
                <i class="glyphicon glyphicon-remove-circle"></i>
            </span>
            <div class="">
                @*<iframe frameborder="0" allowfullscreen="1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="300" height="130" src="https://www.youtube.com/embed/psZ1g9fMfeo?autoplay=1&amp;muted=1&amp;origin=https%3A%2F%2Fwww.greeno.vn&amp;enablejsapi=1&amp;widgetid=1" id="widget2"></iframe>*@
            </div>
        </div>
    </div>
</div>


@Html.Partial("_slogan")
@Html.Partial("_luachon", Model.lstLuaChon)


@Html.Partial("_goidinhky", Model.goidinhky)

@Html.Partial("_OurStory", Model.OurStory)

@Html.Partial("_Partners", Model.lstCustomerParner)
@Html.Partial("_congdong", Model.lstCustomerFeedback)
<div class="row" style="margin-bottom:79px;">
    <div class="col-md-12">
        @Html.Partial("_stack", Model.lstPhotos)
    </div>
</div>
@Html.Partial("_sanphamdon", Model.products)



@Html.Partial("_popuptuvan")


<div id="showminicart">
    @*@Html.Partial("_minicart", Model.carts)*@
</div>





@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            new Photostack(document.getElementById('photostack-3'), {
                callback: function (item) {
                    //console.log(item)
                }
            });

        });

        //Saving Tư vấn pop-up
        function CheckData() {
            var ContactType = $('input[name=optionsRadios]:checked', '#TuvanForm').val();

            //$("#ErrorText").html("");
            var txtName = $("#txtName").val();
            if (jQuery.trim(txtName).length <= 0) {
                $("#ErrorText").html("(*) Vui lòng nhập Tên của bạn");
                $("#txtName").focus();
                return;
            }

            var txtPhone = $("#txtPhone").val();
            if (jQuery.trim(txtPhone).length <= 0) {
                $("#ErrorText").html("(*) Vui lòng nhập SĐT để chúng tôi có thể liên hệ tới bạn");
                $("#txtPhone").focus();
                return;
            }

            var txtComment = $("#txtComment").val();
            if (jQuery.trim(txtComment).length <= 0) {
                $("#ErrorText").html("(*) Vui lòng nhập thêm thông tin cần tư vấn!");
                $("#txtComment").focus();
                return;
            }

            $.ajax({
            type: "GET",
            //url: "/IOM_ORDER/SaveItemSession?ItemName=" + ItemName + "&CategoryID=" + CategoryID + "&categoryName=" + categoryName + "&ItemDesc=" + ItemDesc + "&Quantity=" + Quantity + "&Unit=" + Unit,
            url: "@Url.Action("SavingTuVan", "Home")",
                data: {
                    txtName: txtName,
                    txtPhone: txtPhone,
                    txtComment: txtComment,
                    ContactType: ContactType

                },
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(json),
            success: function (data, textStatus, jqXHR) {
                if (data.toString() == "ok") {

                    $("#txtName").focus();


                    $("#txtPhone").val("");
                    $("#txtComment").val("");
                    $("#ErrorText").html("");

                    $("#ErrorText").html("Cảm ơn bạn đã liên hệ với chúng tôi, chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất");

                }
                else {
                    $("#ErrorText").html("Lỗi");
                    $("#txtName").focus();
                }
            },
            dataType: "json",
            contentType: "application/json",
            error: function (data, textStatus, jqXHR) { alert(textStatus) }
        });
        }
    </script>
}