@model List<NhomXingfa.Areas.Quantri.Models.DataModels.Cart>
@{
    ViewBag.Title = "Quản Lý Đơn Hàng";
    int count = 1;
}

<div class="row">
    <div class="col-md-3" id="leftql">
        <div class="text-right">
            <a href="#">Xem tất cả đơn hàng <i class="glyphicon glyphicon-menu-right" id="caticon"></i></a>
        </div>

        <ul>
            @foreach (var q in Model)
            {
            <li cartid="@q.Id">
                <span class="axql1">
                    @count
                </span>
                <span class="axql2">
                    Đơn hàng lẻ #@count
                </span>
                @if (q.StatusOrder == 0)
                {
                    <span class="axql3">
                        <i class="glyphicon glyphicon-triangle-right"></i>
                        Đang xử lý
                    </span>
                }
                else
                {
                    <span class="axql3">
                        <i class="glyphicon glyphicon-triangle-right"></i>
                        Hoàn thành
                    </span>
                }
            </li>
                count++;
            }
        </ul>

        <div class="text-right" id="pagelist">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>

    </div>
    <div class="col-md-9" id="rightql">
        @*@Html.Partial("_detailorder")*@
    </div>
</div>


<div class="row" style="margin-top:32px; display:none;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quản Lý Đơn Hàng</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                Đơn hàng
                            </th>
                            <th>
                                Ngày giao
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Phí ship
                            </th>
                            <th>
                                Tổng tiền
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th>
                                Phương thức
                            </th>
                            <th>
                                Ngày đặt
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var q in Model)
                        {
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    Order @count
                                </td>
                                <td>
                                    @q.TimeDelivery.Value.ToShortDateString()
                                </td>
                                <td>
                                    @q.CustPhone
                                </td>
                                <td>
                                    @q.AddresDelivery
                                </td>
                                <td>
                                    @String.Format("{0:#,0}", q.ShipDelivery)
                                </td>
                                <td>
                                    @String.Format("{0:#,0}", q.TotalConLai)
                                </td>
                                <td>
                                    @if (q.StatusOrder == 1)
                                    {
                                        <span class="label label-info">Đang chờ</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">Đã xác nhận</span>
                                    }
                                </td>
                                <td>
                                    @if (q.StyleShip == 2)
                                    {
                                        <span class="text-primary">Lấy tại cửa hàng</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Giao hàng</span>
                                    }
                                </td>
                                <td>
                                    @q.Created.Value.ToString("HH:mm dd/MM/yyyy")
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>